<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guangxi.shop.mapper.ProductMapper">
<!--    //根据分类id查询商品集合
    public List<Product> getProductByCategoryId(String categoryId);-->
    <select id="getProductByCategoryId" resultType="com.guangxi.shop.entity.Product">
        select * from tb_product where category_id=#{categoryId}
    </select>
<!--    public List<Product> getAllProductBySales();-->
    <select id="getAllProductBySales" resultType="com.guangxi.shop.entity.Product">
        select * from tb_product order by sales desc
    </select>
</mapper>