<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guangxi.shop.mapper.UserMapper">
    <!--public User getUserByUsername(String username);-->
    <select id="getUserByUsername" parameterType="String" resultType="com.guangxi.shop.entity.User">
        select * from tb_login where user_name = #{username}
    </select>
    <!-- public int addUser(User user);-->
    <insert id="addUser" parameterType="com.guangxi.shop.entity.User">
        insert into tb_login values(#{id},#{user_name},#{password},#{email},#{icon},#{create_time},#{update_time})
    </insert>
    <!--int updatePwdById(@Param("id") String id, @Param("password") String password, @Param("updateTime") Timestamp updateTime)-->
    <update id="updatePwdById" >
        update tb_login set password=#{password},update_time=#{updateTime} where id=#{id}
    </update>
</mapper>