<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>
<body background="/image/login.jpg" style="background-size:100%;background-attachment: fixed">
    <div class="container" >
        <form th:action="@{/userController/register-servlet}" method="post">
            <div class="header">注 册</div>
            <div class="input">
                <input type="text" name="userName" placeholder="username" class="input-item">
                <input type="password" name="password" placeholder="password" class="input-item">
                <input type="password" name="email" placeholder="email" class="input-item">
            </div>
            <span class="message" th:if="${#httpServletRequest.getAttribute('message')!=null}"
                  th:text="${#httpServletRequest.getAttribute('message')}"></span>
            <input type="submit" class="submit" value="注册" />
            <div class="menu">
                <a th:href="@{/userController/login}">已有账号?</a>
                <a th:href="@{/productController/home-servlet}">取消注册</a>
            </div>
        </form>
    </div>
    <script type="text/javascript">

    
    </script>
</body>
</html>